.movie-detail {
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background-color: var(--color-pink);
}
.movie-detail span {
  line-height: 100vh;
  color: var(--color-white);
}
