/* Global */
:root {
  /* Color */
  --color-white: #ffffff;
  --color-light-white: #eeeeee;
  --color-dark-white: #bdbdbd;
  --color-light-grey: #7c7979;
  --color-grey: #616161;
  --color-dark-grey: #4d4d4d;
  /* --color-black: #212529; */
  --color-black: #000000;
  --color-light-pink: #ff9898;
  --color-pink: #cf455c;

  /* Font size */
  --font-large: 48px;
  --font-medium: 24px;
  --font-regular: 16px;
  --font-small: 14px;
  --font-micro: 12px;

  /* Font weight */
  --weight-bold: 700;
  --weight-reaular: 400;
  --weight-light: 300;
}

/* Uriversal tags */
* {
  font-family: "Roboto", sans-serif;
}
ul {
  list-style: none;
}
a {
  display: block;
  text-decoration: none;
  color: var(--color-black);
}

/* Typotgraphy */

/*? container */
.container {
  background-color: var(--color-black);
}

/*? loading */
.loading {
  color: var(--color-white);
  background-color: var(--color-pink);
  text-align: center;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.loading span {
  line-height: 100vh;
}

/*? movies */
.home {
  padding: 150px 10%;
  max-width: 1320px;
  margin: 0 auto;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
}
.home *::selection {
  color: var(--color-white);
  background-color: var(--color-black);
}
